html,
body {
  background-color: blanchedalmond;
}
#board {
  text-align: center;
  font-size: 50px;
}
.class {
  float: center;
  text-align: center;
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
  color: red;
}